body {
    background-color: black;
}
header {
    background-image: url(./images/firstview2.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 0px;
}

.logo-wrapper-img {
    margin-top: 50px;
}

.tital-wrapper {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.tital-wrapper-img {
    max-width: 1089px;
    max-height: 414px;
}

#global-menu {

    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
    font-family: bebas-kai,sans-serif;
    letter-spacing: 1px;  
    height: 128px;
}

#global-menu-bar {
    display: flex;
    align-content: center;
    justify-content: center;
    transform: scaleX(0.8); 
    gap: 100px;
}

#news::before{
    content:"news";
    color: white;
}

#prologue::before{
    content:"prologue";
    color: white;
}

#concept::before{
    content:"concept";
    color: white;
}

#gallery::before{
    content:"gallery";
    color: white;
}

#product::before{
    content:"product";
    color: white;
}